* {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

hr {
    border: 2px solid black;
}

img {
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 3px solid black;
}

h2 {
    margin-left: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
}

/* Style */

/* place-items: start start; */
.container {
    width: 80%;
    margin: 50px auto;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    /* justify-items: center;
    align-items: center; */
    place-items: start start;
}

/* place-items: start center; */
.container2 {
    width: 80%;
    margin: 50px auto;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    /* justify-items: center;
    align-items: center; */
    place-items: start center;
}

/* place-items: start end; */
.container3 {
    width: 80%;
    margin: 50px auto;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    /* justify-items: center;
    align-items: center; */
    place-items: start end;
}

.items {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    background-color: lightblue;
}