html,
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

h1 {
    margin-left: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    margin-left: 10%;
    border: 2px solid black;
    width: 400px;
    height: 230px;
}


p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

hr {
    border: 1px solid black;
}

/* code 1 */
.container {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item {
    place-self: start start;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 2 */
.container2 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item2 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item2 {
    place-self: start center;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 3 */
.container3 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item3 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item3 {
    place-self: start end;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 4 */
.container4 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item4 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item4 {
    place-self: center start;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 5 */
.container5 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item5 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item5 {
    place-self: center center;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 6 */
.container6 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item6 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item6 {
    place-self: center end;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 7 */
.container7 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item7 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item7 {
    place-self: end start;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 8 */
.container8 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item8 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item8 {
    place-self: end center;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}

/* code 9 */
.container9 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
}

.item9 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item9 {
    place-self: end end;

    padding: 5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
}