* {
    margin: 0;
    padding: 0;
}

h2 {
    margin-left: 10%;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* style */

/* align-content: start; */
.container {
    width: 80%;
    height: 400px;
    margin: 50px auto;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    align-content: start;
    /* align-content: end; */
    /* align-content: center; */
    /* align-content: stretch; */
}

/* align-content: end; */
.container2 {
    width: 80%;
    height: 400px;
    margin: 50px auto;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    /* align-content: start; */
    align-content: end;
    /* align-content: center; */
    /* align-content: stretch; */
}

/* align-content: center; */
.container3 {
    width: 80%;
    height: 400px;
    margin: 50px auto;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    /* align-content: start; */
    /* align-content: end; */
    align-content: center;
    /* align-content: stretch; */
}

.items {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    background-color: lightblue;
}