html,
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

h1 {
    margin-left: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    margin-left: 10%;
    border: 2px solid black;
    width: 400px;
    height: 200px;
}

/* code 1 */
.container {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
}

.item {
    display: flex;
    border: 1px solid black;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.my-item {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    /* grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -4;
    grid-row-end: -1; */

    background-color: lightblue;
}