body,
html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: arial;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 600px;
  margin: 50px auto;
  border: 5px solid #333;
  box-sizing: border-box;
  padding: 5px;
  display: grid;
  grid-template-areas: "header header" "aside main" "nav main" "footer footer" ;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1.3fr;
}

header {
    grid-area: header;
    background-color: #B063D8;
    padding: 40px 0;
}

.content::after {
    content: '';
    display: block;
    clear: both;
}

aside {
    grid-area: aside;
    background-color: #2
    F93FF;
    padding: 60px 0;
}

nav {
    grid-area: nav;
    background-color: #E45765;
    padding: 100px 0;
}

main {
    grid-area: main;
    background-color: #E0AA77;
    padding: 171.5px;
    box-sizing: border-box;
    flex: 1.5;
}



footer {
    grid-area: footer;
    background-color: #666;
    padding: 10px;
}
