html,
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

h1 {
    margin-left: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    margin-left: 10%;
    border: 2px solid black;
    width: 400px;
    height: 200px;
}

.dua {
    margin-left: 10%;
    border: 2px solid black;
    width: 700px;
    height: 300px;
}

/* LATIHAN ! */
/* code 1 */
.container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    border: 1px solid black;
    /* place-items: start start; */
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
  }

.item {
    display: flex;
    border: 1px solid black;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.my-item {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2; */

    /* grid-column-start: satu;
    grid-column-end: empat;
    grid-row-start: baris1;
    grid-row-end: b4; */

    /* grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -4;
    grid-row-end: -1; */

    background-color: lightblue;
}

/* code 2 */
.container2 {
    width: 80%;
    margin: 50px auto;
    display: grid;
    border: 1px solid black;
    /* place-items: start start; */
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
  }

.item2 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

.my-item2 {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; */

    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;

    /* grid-column-start: satu;
    grid-column-end: empat;
    grid-row-start: baris1;
    grid-row-end: b4; */

    /* grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -4;
    grid-row-end: -1; */

    background-color: lightblue;
}

/* code 3 */
.container3 {
    width: 80%;
    margin: 50px auto;
    display: grid;
    border: 1px solid black;
    /* place-items: start start; */
    /* grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px); */

    grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4];
  }

.item3 {
    display: flex;
    border: 1px solid black;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.my-item3 {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; */

    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2; */

    grid-column-start: satu;
    grid-column-end: empat;
    grid-row-start: baris1;
    grid-row-end: b4;

    /* grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -4;
    grid-row-end: -1; */

    background-color: lightblue;
}

/* code 4 */
.container4 {
    width: 80%;
    margin: 50px auto;
    display: grid;
    border: 1px solid black;
    /* place-items: start start; */
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);

    /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
  }

.item4 {
    display: flex;
    font-weight: bold;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-item4 {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; */

    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2; */

    /* grid-column-start: satu;
    grid-column-end: empat;
    grid-row-start: baris1;
    grid-row-end: b4; */

    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -4;
    grid-row-end: -1;

    background-color: lightblue;
}

/* LATIHAN 2 */
/* code 1 */
.containerL2 {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
}

.itemL2 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.my-itemL2 {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; */

    /* grid-column: 2 / 4;
    grid-row: 2 / 4; */

    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2; */

    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    /* grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -4;
    grid-row-end: -1; */

    background-color: lightblue;
}






